{% extends "base.html" %}

{% block js_media %}{{ form.media.js }}{% endblock %}

{% block media %}
    {{ form.media.css }}
    <link rel="stylesheet" type="text/css" href="{{ static('ui_form.css') }}">
{% endblock %}

{% block body %}
    <div class="content-description organization-form-page">
        <form action="" method="post" class="form-area organization-form-card">
            {% csrf_token %}
            <table class="django-as-table">{{ form.as_table() }}</table>
            <div class="organization-form-actions">
                <button type="submit" class="button">
                    {% if request.resolver_match.url_name == 'organization_create' %}
                        {{ _('Create') }}
                    {% else %}
                        {{ _('Update') }}
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
