{% extends "common-content.html" %}

{% block title_ruler %}{% endblock %}

{% block title_row %}
    {% set tab = 'detail' %}
    {% include "contest/contest-tabs.html" %}
    {% if contest.is_organization_private %}
        <span class="organization-tags">
            {% for org in contest.organizations.all() %}
                <span class="organization-tag">
                    <a href="{{ org.get_absolute_url() }}">
                        <i class="fa fa-lock"></i> {{ org.name }}
                    </a>
                </span>
            {% endfor %}
        </span>
    {% endif %}
{% endblock %}

{% block content_js_media %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.time-remaining').each(function () {
                count_down($(this));
            });
        });
    </script>
    {% include "contest/media-js.html" %}
    {% if not comment_lock %}
        {% include "comments/media-js.html" %}
    {% endif %}
{% endblock %}

{% block content_media %}
    {% if not comment_lock %}
        {% include "comments/media-css.html" %}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="contest-detail-page">
    {% set in_contest = contest.is_in_contest(request.user) %}
    <div class="contest-detail-grid">
        <aside class="contest-detail-sidebar">
            {% if has_announcements or can_edit %}
                <section class="contest-clartifications contest-card">
                    <div class="contest-section-header">
                        <h2><i class="fa fa-check"></i> {{ _('Announcements') }}</h2>
                        {% if can_edit %}
                            <a class="button button-ghost" href="{{ url('contest_announce', contest.key) }}">{{ _('Add') }}</a>
                        {% endif %}
                    </div>
                    <div class="contest-announcement-feed">
                        {% for announcement in announcements %}
                            <details class="contest-announcement-item">
                                <summary>
                                    <span class="contest-announcement-item__dot" aria-hidden="true"></span>
                                    <span class="contest-announcement-item__preview">{{ announcement.title }}</span>
                                </summary>
                                <header>
                                    <time>{{ announcement.date|date(_("F j, Y, G:i")) }}</time>
                                </header>
                                <div class="contest-announcement-item__content">{{ announcement.description|markdown('announcement', MATH_ENGINE)|reference }}</div>
                            </details>
                        {% else %}
                            <p class="contest-announcement-empty">{{ _('No announcements yet.') }}</p>
                        {% endfor %}
                    </div>
                </section>
            {% endif %}

            {% if has_clarifications %}
                <section class="contest-clartifications contest-card">
                    <div class="contest-section-header">
                        <h2><i class="fa fa-check"></i> {{ _('Clarifications') }}</h2>
                    </div>
                    <table id="contest-clartifications" class="table">
                        <thead>
                            <tr>
                                <th>{{ _('When') }}</th>
                                <th>{{ _('Problem') }}</th>
                                <th>{{ _('Description') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for clarification in clarifications %}
                            <tr>
                                <td style="width: 26%;">{{ clarification.date|date(_("F j, Y, G:i")) }}</td>
                                <td style="width: 28%; text-align: left; padding-left: 1em;">
                                    <a href="{{ url('problem_detail', clarification.problem.code) }}" class="problem">
                                        {{ clarification.problem.name }}
                                    </a>
                                </td>
                                <td style="text-align: left; padding-left: 1em;">
                                    {{ clarification.description|markdown('problem', MATH_ENGINE)|reference }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </section>
            {% endif %}
        </aside>

        <section class="contest-detail-main">
            {% if in_contest or contest.ended or request.user.is_superuser or is_editor or is_tester %}
                <section class="contest-problems contest-card">
                    <div class="contest-section-header">
                        <h2><i class="fa fa-fw fa-question-circle"></i>{{ _('Problems') }}</h2>
                        <div class="contest-actions">
                            <a class="button button-ghost" href="{{ url('contest_all_problems', contest.key) }}">{{ _('All problems') }}</a>
                            {% if can_edit and can_download_data %}
                                <a class="button" href="{{ url('contest_prepare_data', contest.key) }}">{{ _('Download data') }}</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="contest-problems-table-wrap">
                    <table class="table striped">
                <thead>
                <tr>
                    <th>#</th>
                    {% if request.user.is_authenticated %}
                        <th><i class="fa fa-check"></i></th>
                    {% endif %}
                    <th>{{ _('Problem') }}</th>
                    {% if not is_ICPC_format %}
                        <th>{{ _('Points') }}</th>
                    {% endif %}
                    {% if metadata.has_public_editorials %}
                        <th>{{ _('Editorials') }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for problem in contest_problems %}
                    <tr>
                        <td style="width: 1em;">{{loop.index}}</td>
                        {% if request.user.is_authenticated %}
                            {% if problem.id in completed_problem_ids %}
                                <td style="width: 1em;">
                                    <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                                        {% if problem.is_public %}
                                            <i class="solved-problem-color fa fa-check-circle"></i>
                                        {% else %}
                                            <i class="solved-problem-color fa fa-lock"></i>
                                        {% endif %}
                                    </a>
                                </td>
                            {% elif problem.id in attempted_problem_ids %}
                                <td style="width: 1em;">
                                    <a href="{{ url('user_submissions', problem.code, request.user.username) }}">
                                        {% if problem.is_public %}
                                            <i class="attempted-problem-color fa fa-frown-o"></i>
                                        {% else %}
                                            <i class="attempted-problem-color fa fa-lock"></i>
                                        {% endif %}
                                    </a>
                                </td>
                            {% else %}
                                <td style="width: 1em;">
                                    {% if problem.is_public %}
                                        <i class="unsolved-problem-color fa"></i>
                                    {% else %}
                                        <i class="unsolved-problem-color fa fa-lock"></i>
                                    {% endif %}
                                </td>
                            {% endif %}
                        {% endif %}
                        <td style="text-align: left; padding-left: 2em;">
                            {% if in_contest or problem.is_public or request.user.is_superuser or is_editor or is_tester %}
                                <a href="{{ url('problem_detail', problem.code) }}">{{ problem.i18n_name or problem.name }}</a>
                            {% else %}
                                {{ problem.i18n_name or problem.name }}
                            {% endif %}
                        </td>
                        {% if not is_ICPC_format %}
                            <td>{{ problem.points|floatformat(-2) }}</td>
                        {% endif %}
                        {% if metadata.has_public_editorials %}
                            <td>
                                {% if problem.is_public and problem.has_public_editorial %}
                                    <a href="{{ url('problem_editorial', problem.code) }}">{{ _('Editorial') }}</a>
                                {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                    </table>
                    </div>
                </section>
            {% endif %}
        </section>
    </div>

    {% if contest.description|trim %}
        <div class="content-description">
            {% cache 3600 'contest_html' contest.id MATH_ENGINE %}
                {{ contest.description|markdown('contest', MATH_ENGINE)|reference|str|safe }}
            {% endcache %}
        </div>
    {% endif %}


    {% if not comment_lock %}
        <div class="contest-comments-section">
            <span class="social contest-comments-social">
                {{ post_to_facebook(request, contest, '<i class="fa fa-facebook-official"></i>') }}
                {{ post_to_twitter(request, SITE_NAME + ':', contest, '<i class="fa fa-twitter"></i>') }}
            </span>
            {% include "comments/list.html" %}
        </div>
    {% endif %}

    <div style="clear: both;"></div>
    </div>
{% endblock %}

{% block description_end %}{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% if not comment_lock %}
        {% include "comments/math.html" %}
    {% endif %}
{% endblock %}
