.helptext {
    display: block;
    font-size: 13px;
    color: #5f6f86;
    margin-top: 4px;
    line-height: 1.4;
}
.helptext::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    content: "\f05a";
    padding-right: 5px;
    font-size: 15px;
}
.django-as-table {
    border-collapse: collapse;
    width: 100%;
}
.django-as-table th, .django-as-table td {
    padding: 7px 8px;
    vertical-align: top;
}
.django-as-table th {
    max-width: 12em;
    width: 12em;
    text-align: left;
    font-weight: 600;
    color: #1d2b45;
}

.django-as-table input:not([type='checkbox']),
.django-as-table select,
.django-as-table textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
}

.django-as-table textarea {
    min-height: 110px;
}

.errorlist {
    background: rgba(255, 0, 0, 0.3);
    border: 3px dashed red;
    border-right: none;
    border-left: solid red;
    padding: 0 1em 0.1em 2em;
    margin: 0.3em 0 0.5em 0;
}
.errornote {
    border: 3px dashed #ffc000;
    border-left: solid #ffc000;
    padding: 0.7em 2em;
    margin: 0 0 8px;
    font-size: 13px !important;
    font-weight: 400;
}
.required th::after {
    content: "*";
    color: red;
}
